body {
    background-image: url(../images/05B92C9F-3DEA-4310-B683-B51301C11012.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica, Arial, sans-serif;
}

.timer {
    background-color: #F16658;
    color: white;
    width: 30%;
    height: auto;
    text-align: center;
    align-content: center;
    border: lightslategray solid 1px;
    font-size: medium;
    margin: 1%;
    padding: 2%;
    border-radius: 5px;
    display: inline-block;
}

#timer {
    background-color: #F16658;
    color: white;
    height: auto;
    text-align: center;
    align-content: center;
    font-size: medium;
    padding: 2%;
}

#question-card {
    margin: 1%;
    width: 70%;
    padding: 2%;
    align-content: center;
    border-radius: 5px;
    color: #333435;
    display: inline-block;
}

#question {
    background-color: white;
    margin: 1%;
    width: 70%;
    padding: 2%;
    border: lightslategray solid 1px;
    border-radius: 5px;
}

#scoreCard {
    background-color: #F16658;
    color: white;
    width: 30%;
    height: auto;
    text-align: center;
    align-content: center;
    border: lightslategray solid 1px;
    font-size: medium;
    margin: 1%;
    padding: 2%;
    border-radius: 5px;
    display: inline-block;
}

#choice-A {
    background-color: #98ECC3;
    height: 100px;
    width: 150px;
    margin: 1%;
    border: lightslategray solid 1px;
    padding: 1%;
    border-radius: 5px;
    display: inline-block;
}

#choice-B {
    background-color: #98ECC3;
    height: 100px;
    width: 150px;
    margin: 1%;
    border: lightslategray solid 1px;
    padding: 1%;
    border-radius: 5px;
    display: inline-block;
}

#choice-C {
    background-color: #98ECC3;
    height: 100px;
    width: 150px;
    margin: 1%;
    padding: 1%;
    border: lightslategray solid 1px;
    border-radius: 5px;
    display: inline-block;
}

#choice-D {
    background-color: #98ECC3;
    height: 100px;
    width: 150px;
    margin: 1%;
    padding: 1%;
    border: lightslategray solid 1px;
    border-radius: 5px;
    display: inline-block;
}

.h1 {
    color: white;
    background: #0B2D3D;
    width: 70%;
    height: auto;
    text-align: center;
    align-content: center;
    margin: 5px;
    border: lightslategray solid 1px;
    padding: 2%;
    font-size: large;
    border-radius: 5px;
}

.h2 {
    color: white;
    background: #0088c5;
    width: 70%;
    height: auto;
    text-align: center;
    align-content: center;
    border: lightslategray solid 1px;
    font-size: medium;
    margin: 5px;
    padding: 2%;
    border-radius: 5px;
}

.h4 {
    margin-bottom: 2%;
}

.q1 {
    background-color: #add8e6;
    margin: 5px;
    width: 70%;
    border: lightslategray solid 1px;
    padding: 2%;
}

.q2 {
    background-color: #add8e6;
    margin: 5px;
    width: 70%;
    border: lightslategray solid 1px;
    padding: 2%;
}

.q3 {
    background-color: #add8e6;
    margin: 5px;
    width: 60%;
    border: lightslategray solid 1px;
    padding: 2%;
}

.q4 {
    background-color: #add8e6;
    margin: 5px;
    width: 60%;
    border: lightslategray solid 1px;
    padding: 2%;
}

.q5 {
    background-color: #add8e6;
    margin: 5px;
    width: 60%;
    border: lightslategray solid 1px;
    padding: 2%;
}

.q6 {
    background-color: #add8e6;
    margin: 5px;
    width: 60%;
    border: lightslategray solid 1px;
    padding: 2%;
}

#choice-A:hover, #choice-B:hover, #choice-C:hover, #choice-D:hover {
    background-color: #F16658;
    color: white;
}